@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Open+Sans:400,700|Overlock:900|PT+Sans&display=swap&subset=latin-ext&display=swap'); /*Include fonts*/

/* Colors START */
/*
	Black Suit: #272727
	Creamy white shirt: #F4F5F7
	Blue stripe: #7BD9E4
	Purple stripe #6D6B88
	Brown button #916D47
	White colar shirt: #F7F7F7
	Red tie #7B3939
	Blue clip #5F6BA5
*/
/* Colors END*/

/* Indstillinger START */
html, body {
	height: 100%; /* 100% height on html og body enables manipulation of height in % on block-elements. */
	margin: 0; /* Removes document margin. */
	padding: 0; /* Removes document padding. */
}
html{
	scroll-behavior: smooth; /* Gives smooth scrolling effect to links that refer to a sektion. It does not work in Safari and Edge. */
}
/* Indstillinger END */

/* Page layout START */
body{
	background-color: #F4F5F7;
}
.wrapper{ /* Wraps content and defines a max-width for content */
    min-height: 1px;
    height: auto;
	width: auto;
	max-width:1024px;
	margin:0 auto;
}
body > header, #headNav, body > footer{
	/* Floating the elements and setting a width, enables acurate positioning with sizes. */
	float:left;
	width:90%; /* All atributes will have 5% padding, left and right, to fill the width. */
	/* Padding will give whitespace. */
	padding-left: 5%; 
	padding-right: 5%;
}
body > main > div.wrapper > h1, body > main > div.wrapper > img, body > main > div.wrapper > section{
	/* Floating the elements and setting a width, enables acurate positioning with sizes. */
	float:left;
	width:90%; /* All atributes will have 5% padding, left and right, to fill the width. */
	/* Padding will give whitespace. */
	margin-left: 5%; 
	margin-right: 5%;
}
body > header, body > main, body > footer{
	padding-top: 2vh;
	padding-bottom: 2vh;
}
body > main{
	float: left;
	width: 100%;
}
.dualSplit{
	float: left;
	width: 47%;
	margin-right: 3%;
}
.dualSplit:last-child{
	margin-right: 0;
}
@media screen and (max-width: 775px){ /* Tablet */
	.dualSplit{
		width: 95%;
		margin: 0 2.5%;
		text-align: center;
	}
	.dualSplit:last-child{
		margin-top: 20px;
	}
}
@media screen and (min-height: 187px) and (min-width: 776px) and (max-width:982px){ /* From mobile to Large tablet/small desktop*/
	body > header, #headNav, body > footer{
		width: calc(100% - 120px);
		padding-left: 60px;
		padding-right: 60px;
	}
	body > main > div.wrapper > h1, body > main > div.wrapper > img, body > main > div.wrapper > section{
		width: calc(100% - 120px);
		margin-left: 60px;
		margin-right: 60px;
	}
}

@media screen and (min-height: 187px) and (min-width: 401px) and (max-width: 775px){/* From Mobile to Tablet */
	body > header, #headNav, body > footer{
		width: calc(97.5% - 60px);
		padding-left: 60px;
		padding-right: 2.5%;
	}
	body > main > div.wrapper > h1, body > main > div.wrapper > img, body > main > div.wrapper > section{
		width: calc(97.5% - 60px);
		margin-left: 60px;
		margin-right: 2.5%;
	}
}
@media screen and (min-height: 187px) and (max-width: 400px){/* Mobile */
	body > header, #headNav, body > footer{
		width: calc(100% - 70px);
		padding-left: 60px;
		padding-right: 10px;
	}
	body > main > div.wrapper > h1, body > main > div.wrapper > img, body > main > div.wrapper > section{
		width: calc(100% - 70px);
		margin-left: 60px;
		margin-right: 10px;
	}
}
@media screen and (max-height: 186px) and (max-width: 400px){/* Mobile */
	body > header, #headNav, body > footer{
		width: calc(100% - 40px);
		padding-left: 10px;
		padding-right: 30px;
	}
	body > main > div.wrapper > h1, body > main > div.wrapper > img, body > main > div.wrapper > section{
		width: calc(100% - 40px);
		margin-left: 10px;
		margin-right: 30px;
	}
}
/* Page layout END */

/* Text START */
a {
	text-decoration: none;
	cursor: pointer;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 27px;
	color: #444;
	clear: both;
}
p a{
	font-family: inherit;
	text-decoration: underline;
}
p a:link{
	color: #56979F;
}
p a:visited{
	color: #6D6B88;
}
p a:active{
	color: #916D47;
}
h1, h2, h3, h4, h5, h6{
	margin: 0; /* Removed standard margin, since whitespace is provided through line height. */
	display: inline-block; /* Makes width element width by default. */
	clear: both; /* Cleares both sides, but other clashing inline blocks must also have cleared clashing side, to acctually clear. */
}
h1, h2{
    position: relative;
}
h1:before, h2:before{
    content: "";
    position: absolute;
    z-index: -1;
}

#siteTitle, #siteSubTitle{
	display: block;
	clear: both;
	font-family: 'Overlock', cursive;
	text-align: left;
	color: #F4F5F7;
	-webkit-text-fill-color: currentColor;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #272727;
}
#siteTitle{
	font-size: 48px;
	line-height: 76px;
}
#siteSubTitle{
	float: left;
	line-height: 46px; /*indended line height minus padding and shaddow*/
	padding: 2px 8px;
	border-radius:4px;
	margin-left: 43px; /* styalized distance + Shaddow disetance*/
	margin-top: 4px;
	box-shadow: -3px -4px #6D6B88;
	-webkit-text-stroke-width: 0;
	-webkit-text-stroke-color: transparent;
	font-size: 32px;
	color: #272727;
	text-shadow: none;
	background-color: #f7f7f7;
}
#siteSubTitle:after{
	content: "|";
}
#siteSubTitle.inActive:after{
	animation-name: blink;
	animation-duration: 0.53s;
	animation-delay: 0s;
	animation-timing-function: step-end;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes blink {
  0% {
    color: transparent;
  }
  50% {
    color: #272727;
  }
  100% {
    color: transparent;
  }
}
h1, h2{
	font-family: 'Maven Pro', sans-serif;
	color: #272727;
}
h3, h4{
	font-family: 'PT Sans', sans-serif;
}
h1{
	position: relative;
	font-size: 28px;
	line-height: 48px;
	margin-bottom:30px;
}
h1:before{
    height: 30%;
    width: 45%;
    background-color: rgba(145, 109, 71, 0.6); /* #916D47*/
    transform:
		skewY(-0.5deg)
		translateX(-2%)
		translateY(-5%)
	;
}
h2{
	float:left;
	font-size: 24px;
	line-height: 42px;
}
h3{
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 0;
	color: #6D6B88;
}
h4{
	border-bottom: solid 1px #272727;
	font-size: 28px;
	line-height: 48px;
	color: #916D47;
}
h5{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight:700;
	line-height: 27px;
	color: inherit;
}
.toggleOnBreak:after{ /* Adds a "|" on desktop */
	content:" |"
}
/*@media screen and (min-width:0\0) and (min-resolution: +72dpi) { /* Target IE9 and abowe only. */
/*   #siteTitle, #siteSubTitle{ 
		text-shadow: -1px -1px 0 #272727, 1px -1px 0 #272727, -1px 1px 0 #272727, 1px 1px 0 #272727; /* Adds 4 shaddows to simulate a border */
/*    }
}*/
@media screen and (max-width: 775px){ /* Tablet */
	#siteTitle, #siteSubTitle{
		float: none;
		text-align: center;
		color: #272727;
		-webkit-text-stroke-width: 0;
	}
	#siteSubTitle{
		margin-left: 0;
	}	
}
@media screen and (max-width: 1024px) and (min-width: 776px){ /* Tablet */
	#siteTitle{
		font-size: 4.7vw;
	}
	#siteSubTitle{
		font-size: 3.15vw;
	}	
}
@media screen and (max-width: 450px){ /* Mobile */
	#siteTitle{
		font-size: 10.6vw;
	}
	#siteSubTitle{
		font-size: 7.1vw;
	}		
}
@media screen and (max-width: 405px){ /* Mobile */
	#siteSubTitle{
		font-size: 6vw;
	}		
}
@media screen and (max-width: 545px){ /* Large phone */
	h1{
		font-size: 24px;
		line-height: 38px;
	}
	h2{
		font-size: 16px;
		line-height: 27px;
	}
	h4{
		font-size: 24px;
		line-height: 38px;
	}
}
@media screen and (max-width: 500px){ /* Large phone */
	h1{
		font-size: 16px;
		line-height: 26px;
	}
	h2{
		font-size: 16px;
		line-height: 26px;
	}
	h3{
		font-size: 14px;
		line-height: 24px;
	}
	h4{
		font-size: 14px;
		line-height: 24px;
	}
	h5{
		font-size: 14px;
		line-height: 24px;
	}
}
@media screen and (max-width: 870px){ /* Large tablet */
	/* Adjust h1 to look better after word break. */
	.toggleOnBreak:after{ /* Adds a ":" on mobile to tablet */
		content:":"
	}
	.breakpoint{
		display: block;
	}	
	h1:before{
		height: 15%;
	}
}
/* Text END */

/* Graphics START */
img{
	max-width: 100%;
	max-height: 100%;
}
a img{
	border: none;
}
figure{
	display:inline-block;
	margin: 0;
	padding: 0;
}
figure span.fas{
	font-family: "Font Awesome 5 Pro";
}
.hiddenDescription{
	display:none;
}
.largeDisplay{
	display: none;
}
.middleDisplay{
	display: none;
}
.smallDisplay{
	display: none;
}
.portrait{
	/* No default styling needed for now. The class remains for potential need. */
}
.logo{
	float: left;
	width: 100%;
}
.logo img{
	width:100%;
}
@media screen and (min-width: 776px){ /* Tablet or larger */
	.largeDisplay{
		display: inline-block;
	}
}
@media screen and (min-width: 401px) and (max-width: 775px){ /* Mobile to Tablet */
	.middleDisplay{
		display: inline-block;
	}
}
@media screen and (max-width: 400px){ /* Mobile */
	.smallDisplay{
		display: inline-block;
	}
}
/* Graphics END */

/* Lists START */
ul, ol, dl{
	margin: 0;
	padding-left: 0;
}
ul, dl{
	list-style-type: none;
}
dl{
	float: left;
}
ul, ul li, ol, ol li, dl, dl dt, dl dd{
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}
dl dt{
	float: left;
	width: 125px;
	font-weight: 700;
}

dt:after{
	content:":"
}
dl dd{
	float: left;
	width: calc(100% - 125px);
	margin-left: 0;
}
dd.fullWidth{
	margin-left: 125px;
}
dd:after{
	content: ".";
}
/* Lists END */

/* header START */
body > header{
	min-height: 13.2vh;
	box-shadow: 0px 0px 23px 0px rgba(39,39,39,1);
}
body > header .portrait, body > header .portrait img{
	float: right;
	border-radius: 100%;
	max-width: 129px;
}
body > header .portrait{
	box-shadow: -5px -2px #916D47;
}
.center{
	display: block;
	margin:0 auto;
}
@media screen and (min-width: 776px){ /* Tablet or larger */
	body > header{
		background-image: url(../images/maxfest_logo.svg); /* maxfest logo */
		background-color: #272727;
		background-repeat: no-repeat;
		background-position: top center;
		background-attachment: fixed; /* Enables paralax scrolling */
		background-size: auto calc(4vh + 129px); /* Automatic width. Height calculated by: header padding (4vh) + header content size (76px+53px) | auto or % height now applies to viewsize */
	}
}
@media screen and (max-width: 775px){ /* Mobile/Small tablet */
	body > header{
		background-image: none;
		background-color: #F7F7F7;
		background: 
			linear-gradient(
				15deg,
				rgba(39, 39, 39, 0) 0%,	/* From */
				rgba(39, 39, 39, 0.65) 100%	/* To */
			)
		;
		border-bottom: solid 1px #272727;
	}
}
@media screen and (max-width: 775px){ /* Tablet or smaller */
	body > header .portrait{
		display: none;
	}
}
@media screen and (min-width: 776px){ /* Tablet or bigger */
	body > header .logo{
		display: none;
	}
}
/* header END*/

/* Navigation START */
#headNav{
	min-height: 4.3vh;
	margin-top:23px;
}
#headNav ul{
	float: right;
	padding: 0;
}
#headNav ul li{
	float: left;
	margin-right: 30px;
	font-size: 24px;
	line-height: 42px;
	font-family: 'Maven Pro', sans-serif;
}
#headNav ul li:last-child{
	margin-right: 0;
}
#headNav ul li a, #headNav ul li a:link, #headNav ul li a:visited{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: #272727;
}
#headNav ul li a:hover{
	color: #545454;
}
#headNav ul li a:active{
	color: #717171;
}
#mainNavCaseIcon{
	transition: width 0.5s, margin 0.5s;
	overflow: hidden;
}
#mainNavCaseIcon.hidden{
	display: initial;
	width: 0;
	height: 0;
	margin: 0;
}
#sideNav{
	position: fixed;
	top: calc(50vh - 104px); /* Half screen size - half of ul size (6*35px/2 + 8px/2) and half of li margin (5*5px/2). */
	left: 0;
	z-index: 10000;
}
#sideNav ul{
	float: left;
	width: 35px;
	padding: 4px;
	background-color: #6D6B88;
	border-top: solid 1px #916D47;
	border-right: solid 1px #916D47;
	border-bottom: solid 1px #916D47;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
#sideNav ul li{
	float:left;
	height: 35px;
	min-height:0;
	width: 35px;
	min-width:0;
	border-radius: 4px;
	margin-bottom: 5px;
	font-family: 'Maven Pro', sans-serif;
	font-size: 24px;
	line-height: 35px;
	color: #F4F5F7;
}
#sideNav ul li:last-child{
	margin-bottom:0;
}
#sideNav ul li a, #sideNav ul li a:link, #sideNav ul li a:visited, #sideNav ul li a figure, #sideNav ul li a figure span, #sideNav ul li a figure span.fas:before{
	float: inherit;
	height: inherit;
	min-height: inherit;
	width: inherit;
	min-width: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}
#sideNav ul li a, #sideNav ul li a:link, #sideNav ul li a:visited{
	border-radius: inherit;
	border-color: #7BD9E4;
	text-align: center;
	font-family: inherit;
	background-color: #7BD9E4;
}
#sideNav ul li a:hover{
	background-color: #95E0E9;
}
#sideNav ul li a:active{
	background-color: #AFE8EE;
}
#sideNavCaseIcon{
	transition: width 0.5s, height 0.5s;
	overflow: hidden;
}
#sideNavCaseIcon.hidden{
	display: initial;
	width: 0;
	height: 0;
}

@media screen and (min-height: 245px) and (max-width: 1155px){ /* Desktop or lower */
	#sideNav ul{
		position: relative;
		width: 1px;
		padding: 4px 1px;
		transition: width 1.5s ease, padding 1.5s ease, font-size 1.5s ease;
	}
	#sideNav ul li, #sideNav ul li a, #sideNav ul li a figure, #sideNav ul li a figure span, #sideNav ul li a figure span.fas:before{
		width: inherit;
		transition: font-size 1.5s ease;
	}
	#sideNav ul li a figure span.fas:before{
		font-size:0;
	}
	#sideNav ul:after{
		content: "\f30b";
		position: absolute;
		top: calc(50% - 16px); /* Half of ul size - half of line-height. */
		left: calc(100% - 1px) ; /* 100% of ul width - border of ul */
		float:left;
		height: 35px;
		width: 17px;
		border-top: solid 1px #916D47;
		border-right: solid 1px #916D47;
		border-bottom: solid 1px #916D47;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		font-family: "Font Awesome 5 Pro";
		font-size: 12px;
		line-height:35px;
		font-weight: 900;
		text-align: center;
		color: #F4F5F7;
		background-color: #6D6B88;
	}
	#sideNav:hover ul{
		width: 35px;
		padding: 4px;
		transition: width 0.5s ease, padding 0.5s ease, font-size 0.5s ease;
	}
	#sideNav:hover ul li a figure span.fas:before{
		font-size: 24px;
		transition: font-size 0.5s;
	}
}
@media screen and (max-width: 985px){ /* Tablet or smaller */
	#headNav ul{
		float: left;
		padding: 0;
	}
	#headNav ul li{
		float: left;
		width: 100%;
		margin-right: 0;
		font-size: 24px;
		line-height: 42px;
		font-family: 'Maven Pro', sans-serif;
	}
}
@media screen and (min-height: 245px) and (max-height: 364px){ /* Small height screen. */
	#sideNav{
		top: calc(50vh - 91px); /* Half screen size - half of ul size (6*25px/2 + 8px/2) and half of li margin (5*5px/2). */
	}
	#sideNav ul{
		font-size: 14px;
		line-height: 25px;
	}
	#sideNav ul, #sideNav ul li, #sideNav ul li a, #sideNav ul li a figure, #sideNav ul li a figure span, #sideNav ul li a figure span.fas:before, #sideNav ul:after{
		max-width: 25px;
		font-size: inherit;
		line-height: 25px;
	}
	#sideNav ul li, #sideNav ul li a, #sideNav ul li a figure, #sideNav ul li a figure span, #sideNav ul li a figure span.fas:before, #sideNav ul:after{
		max-height:25px;
	}
}
@media screen and (min-height: 245px) and (max-height: 364px) and (max-width: 1155px){ /* Dektop width on low height */
	#sideNav ul li a figure span.fas:before{
		font-size:0;
	}
	#sideNav:hover ul{
		width: 25px;
		padding: 4px;
		transition: width 0.5s ease, padding 0.5s ease, font-size 0.5s ease;
	}
	#sideNav:hover ul{
		width: 25px;
		padding: 4px;
		transition: width 0.5s ease, padding 0.5s ease, font-size 0.5s ease;
	}
	#sideNav:hover ul li a figure span.fas:before{
		font-size: 14px;
		transition: font-size 0.5s;
	}
}
@media screen and (max-height: 244px){/* Really low view height */
	#sideNav{
		display: none;
	}
}
.onPage{
	text-decoration: underline;
}
/* Navigation END */

/* main START */
body > main{
	height: auto;
	min-height: calc(59.5vh - 23px); /* minimum view height based on leftover after header, navigation and footer - margin from navigation */
}
body > main .logo{
	margin-bottom:100px;
}
/* main END*/

/* footer START */
body > footer{
	min-height: 11vh;
	font-family: 'Open sans', sans-serif;
	background-color: #916D47;
	box-shadow: 0px 0px 23px 0px rgba(39,39,39,1);
}
body > footer address{
	display: grid;
	font-style: normal;
	grid-template: auto / auto auto auto;
	justify-content: space-between;	
}
body > footer h5{
	color: #FFFFFF;
}
body > footer address span, body > footer address a{
	color: #FFFFFF;	
	font-size:14px;
	line-height:27px;
}
body > footer a:link, body > footer a:visited{
	color: #FFFFFF;
	text-decoration: underline;
}
body > footer a:active{
	color: #272727;
}
.author:before{
	content: "Kontaktperson: ";
	font-weight: 700;
}
.email:before{
	content: "E-mail: ";
	font-weight: 700;
}
.tel:before{
	content: "Tlf.: ";
	font-weight: 700;
}
@media screen and (max-width: 775px){ /* Tablet */
	body > footer address{
		grid-template: auto / auto;
	}
	body > footer address span, body > footer address a{
		line-height:25px;
	}
}
/* footer END */

/* Article START */
.fullPageCover{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(39, 39, 39, 0.6);
	z-index: 10001;
}
.fullPageCoverBg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(39, 39, 39, 0.6);
	z-index: 10001;
}
.fullPageCoverBox{
	position: relative;
	float: left;
	width: calc(80% - 44px); /*80% of view width - padding and border */
	height: calc(80vh - 44px); /*80% of view width - padding and border */
	padding: 20px;
	border: solid 2px #000;
	border-radius:4px;
	margin-top: calc(10vh - 2px);
	margin-left: calc(10% - 2px);
	background-color: #F4F5F7;
	box-shadow: -5px -2px #444;
	z-index: 10002;
}
.hidden{
	display: none;
}
.closeButton{
	position: absolute;
	top: 2px;
	right: 2px;
	font-family: 'Maven Pro', sans-serif;
	font-size:24px;
	line-height: 24px;
	color: #272727;
}
.closeButton:hover, #caseView .closeButton:hover{
	color: #7B3939;
}
@media screen and (min-width: 401px) and (max-width: 775px){ /* From Mobile to Tablet */
	.fullPageCoverBox{
		width: calc(90% - 32px);
		padding: 15px;
		border: solid 1px #000;
		margin-left: calc(5% - 1px);
	}
}
@media screen and (max-width: 400px){ /* Mobile */
	.fullPageCoverBox{
		width: calc(90% - 22px);
		padding: 10px;
		border: solid 1px #000;
		margin-left: 0;
		margin-left:0;
		margin-right: calc(2.5% - 18px); /* Some extra pixels added, becasuse of a bug with view width being set higher than it is, in some browsers. */
	}
}
/* Article END */

/* Cases START */
.casesGrid{
	float: left;
	width: 100%;
	display: grid;
	grid-template: auto / 32% 32% 32%;
	justify-content: space-between;	
	grid-row-gap: 30px;
}
.caseContainter{
	height: auto;
	min-height:1px;
}
.case > a{
	float: left;
	width: 100%;
	height: auto;
	min-height:1px;
}
.case p a{
	float: none;
}
.item{
	float: left;
	width: 100%;
	height: auto;
	min-height:1px;
}
.item a{
	float: left;
	width: 100%;
	height: auto;
	min-height:1px;
}
.item header{
	float: left;
	width: 100%;
}
.item header h3{
	color: #6D6B88;
	z-index: 1000;
}
.caseImage{
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	border: solid 3px #272727;
	border-radius:4px;
	box-sizing: border-box;
}
/* Colors defined by child */
.casesGrid .caseContainter:nth-child(5n+1) .caseImage{
   border-color: #7BD9E4;
}
.casesGrid .caseContainter:nth-child(5n+2) .caseImage{
   border-color: #6D6B88;
}
.casesGrid .caseContainter:nth-child(5n+3) .caseImage{
   border-color: #916D47;
}
.casesGrid .caseContainter:nth-child(5n+4) .caseImage{
   border-color: #7B3939;
}
.casesGrid .caseContainter:nth-child(5n+5) .caseImage{
   border-color: #5F6BA5;
}
.item img{
	float:left;
	border-radius:1px;
}
.item span{
	position: absolute;
	top: calc(50% - 9px); /* Half of parrent - half of size */
	left: 0;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	color: #F4F5F7;
	z-index: 1000;
	opacity: 0;
	filter: alpha(opacity=0); /* Fallback */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #272727;
}
/*@media screen and (min-width:0\0) and (min-resolution: +72dpi) { /* Target IE9 and abowe only. */
/*    .item span{ 
		text-shadow: -1px -1px 0 #272727, 1px -1px 0 #272727, -1px 1px 0 #272727, 1px 1px 0 #272727; /* Adds 4 shaddows to simulate a border */
/*    }
}*/
.colorOverlay{
	position: absolute;
	top: 0;
	left: 0;
	float:left;
	width: 100%;
	height: 100%;
	z-index: 500;
	background-color: #000;
	opacity: 0;
	filter: alpha(opacity=0); /* Fallback */
}
/* Colors defined by child */
.casesGrid .caseContainter:nth-child(5n+1) .caseImage .colorOverlay{
   background-color: #7BD9E4;
}
.casesGrid .caseContainter:nth-child(5n+2) .caseImage .colorOverlay{
   background-color: #6D6B88;
}
.casesGrid .caseContainter:nth-child(5n+3) .caseImage .colorOverlay{
   background-color: #916D47;
}
.casesGrid .caseContainter:nth-child(5n+4) .caseImage .colorOverlay{
   background-color: #7B3939;
}
.casesGrid .caseContainter:nth-child(5n+5) .caseImage .colorOverlay{
   background-color: #5F6BA5;
}
.item a .colorOverlay, .item a span{
	transition: opacity 0.4s;
}
.item a:hover .colorOverlay{
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.item a:hover span{
	opacity: 1;
	filter: alpha(opacity=100);
}
.item a:active .colorOverlay, .item a:active span{
	transition: opacity 0.1s;
}
.item a:active .colorOverlay{
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.item a:active span{
	opacity: 1;
	filter: alpha(opacity=100);
}

@media screen and (min-width: 401px) and (max-width: 775px){ /* From Mobile to Tablet */
	.casesGrid{
		grid-template: auto / 47.5% 47.5%;
	}
}
@media screen and (max-width: 775px){ /* Tablet or lower */
	.casesGrid{
		grid-template: auto / 47.5% 47.5%;
	}
}
@media screen and (max-width: 400px){ /* Mobile */
	.casesGrid{
		grid-template: auto / 100%;
	}
}
/* Cases END */

/* Case view */
#caseView{
	position:relative;
	float: left;
	width: 100%;
	height: 80vh;
	padding: 10vh 0;
	margin: 100px 0;
	background-color: #272727;
	transition: height 0.5s;
	overflow: hidden;
}
#caseView:before, #caseView:after{
	content: "";
	position:absolute;
	float: left;
	width: 100%;
    height: 10vh;
    left: 0;
    background-color: #F4F5F7;
}
#caseView:before{
	top: -1px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}
#caseView:after{
	bottom: -1px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
#caseView .closeButton{
	top: 5vh;
	right: 2.5%;
	color: #F4F5F7;
}
#caseView.hidden{
	display: block;
	height: 0px;
	padding: 5vh 0;
}
#caseView.hidden .case, #caseView.hidden a{
	display: none;
}
.case{
	position: relative;
	float: left;
	width: 100%;
	height: inherit;
	max-height: inherit; 
	border-radius:4px;
}
.imageSection{
	float: left;
	width: calc(60% - 41px); /* width - border - caseInfo padding */
	height: calc(80vh - 44px);
	border-right: solid 1px #7BD9E4;
}
.imageSection iframe, .imageSection video{
	display: block;
	max-width: 100%;
	max-height: 100%;
	border: none;
}
.imageSection video{
	float: left;
}
.caseInfo{
	float: left;
	width: calc(40% - 1px); /* Width - border */
	height: calc(80vh - 44px);
	padding: 0 20px;
	border-left: solid 1px #6D6B88;
	overflow-x: hidden;
	overflow-y: auto;
}
.caseInfo a{
	text-decoration: underline;
}
.caseInfo p{
	color:#F4F5F7;
}
.caseInfo ul, .caseInfo ol{
	padding-left: 23px;
}
.caseInfo ul{
	list-style-type: circle;
}
.caseInfo ul li, .caseInfo ol li{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 27px;
	color: #444;
}
@media screen and (min-height: 1000px){ /* min 200 px padding for caseView */
	#caseView{
		margin: 200px 0;
	}
	#caseView .closeButton{
		top: 150px;
	}
	#caseView:before, #caseView:after{
		height: 200px;
	}
	#caseView.hidden{
		padding: 100px 0;
	}
}
/* Position of button is defined by padding of parrent. */
@media screen and (min-height: 187px) and (min-width: 776px) and (max-width:982px){ /* From mobile to Large tablet/small desktop*/
	#caseView .closeButton{
		right: 60px;
	}
}
@media screen and (min-height: 187px) and (min-width: 401px) and (max-width: 775px){/* From Mobile to Tablet */
	#caseView .closeButton{
		right: 2.5%;
	}
}
@media screen and (min-height: 187px) and (max-width: 400px){/* Mobile */
	#caseView .closeButton{
		right: 10px;
	}
}
@media screen and (max-height: 186px) and (max-width: 400px){/* Mobile */
	#caseView .closeButton{
		right: 30px;
	}
}
@media screen and (max-width: 775px){ /* Tablet or lower */
	.case{
		width: calc(100% - 40px);
		height:80vh;
		margin:0 20px;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.imageSection{
		width: 100%;
		height: auto;
		max-height: 50%;
		border-right: none;
		border-bottom: solid 1px #7BD9E4;
		overflow-x: hidden;
		overflow-y: hidden;
	}
	.imageSection iframe, .imageSection video, .imageSection img{
		display: block;
		float: none;
		margin: 0 auto;
	}
	.caseInfo{
		width: calc(100% - 40px); /* Width - paddding */
		height: auto;
		border-left: none;
		border-top: solid 1px #6D6B88;
		overflow-x: hidden;
		overflow-y: hidden;
	}
}
/* Case view END */

/* Skills START */
.skillSection{
	float: left;
	width: 100%;
}
.skillName{
	display: inline-block;
	margin-right:5px;
}
.skill{
	display: inline-block;
	float: left;
	line-height: 37px;
}
.skill a.skillName, .skill a.skillName:link, .skill a.skillName:visited{
	padding: 2px 4px;
	border: solid 1px #DDD;
	border-radius: 4px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height:26px;
	color: #F4F5F7;
	background-color: #272727;
	transition: background-color 0.4s;
}
/* Colors defined by child */
.skill:nth-child(6n+1) a.skillName{
   background-color: #272727;
}
.skill:nth-child(6n+1) a.skillName:hover{
	background-color: #545454;
}
.skill:nth-child(6n+1) a.skillName:active{
	transition: background-color 0.1s;
	background-color: #717171;
}
.skill:nth-child(6n+2) > a.skillName{
   background-color: #7BD9E4;
}
.skill:nth-child(6n+2) a.skillName:hover{
	background-color: #62ADB6;
}
.skill:nth-child(6n+2) a.skillName:active{
	transition: background-color 0.1s;
	background-color: #498288;
}
.skill:nth-child(6n+3) a.skillName{
   background-color: #6D6B88;
}
.skill:nth-child(6n+3).skill a.skillName:hover{
	background-color: #57556C;
}
.skill:nth-child(6n+3).skill a.skillName:active{
	transition: background-color 0.1s;
	background-color: #414051;
}
.skill:nth-child(6n+4) a.skillName{
	color: #FFF;
   background-color: #916D47;
}
.skill:nth-child(6n+4) a.skillName:hover{
	background-color: #745738;
}
.skill:nth-child(6n+4) a.skillName:active{
	transition: background-color 0.1s;
	background-color: #57412A;
}
.skill:nth-child(6n+5) a.skillName{
   background-color: #7B3939;
}
.skill:nth-child(6n+5) a.skillName:hover{
	background-color: #622D2D;
}
.skill:nth-child(6n+5) a.skillName:active{
	transition: background-color 0.1s;
	background-color: #562727;
}
.skill:nth-child(6n+6) a.skillName{
   background-color: #5F6BA5;
}
.skill:nth-child(6n+6).skill a.skillName:hover{
	background-color: #4C5584;
}
.skill:nth-child(6n+6).skill a.skillName:active{
	transition: background-color 0.1s;
	background-color: #394063;
}
.skillDescription{
	position: relative;
	float: left;
	width: 100%;
	height: inherit;
	max-height: inherit;
	overflow-x: hidden;
	overflow-y: auto;
}
.skillDescription a{
	text-decoration: underline;
}
.skillDescription ul, .skillDescription ol{
	padding-left: 23px;
}
.skillDescription ul{
	list-style-type: circle;
}
.skillDescription ul li, .skillDescription ol li{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 27px;
	color: #444;
}
/* Skills END */

/* Custom classes START*/

/* Sections */
/* - Cases, About me & Career */
#cases, #aboutMe, #career{
	float: left;
	margin-bottom:50px;
}

/* - Cases */
#cases h2:before{
    height: 40%;
    width: 323%;
    background-color: rgba(123, 217, 228, 0.6); /* #7BD9E4*/
    transform:
		skewY(-4deg)
		translateX(-1%)
		translateY(-41%)
	;
}
.caseLeft, .caseRight{
	float: left;
	width: 100%;
}
.caseLeft{
	height: 100%;
}
.caseRight{
	height: auto;
}
.caseLeftLongHover > img, .caseLeftLongHover > iframe, .caseLeftLongHover > video{
	/*	Note: Mostly doesn't work with iframe.	*/
	cursor: none;
}
#caseViewSmokingpenguin-animation iframe{
	width: 480px;
	height: 480px;
	margin: 0 auto;
	overflow-x: auto;
	overflow-y: auto;
}
#caseViewOliver-the-olive iframe{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
#caseViewCoop-marketingsmix iframe{
	width: 100%;
	height: 100%;
}
#caseViewHc-andersen-prototype-instalation .imageSection{
	overflow-x: hidden;
	overflow-y: auto;
}
#caseViewHc-andersen-prototype-instalation .imageSection img{
	display: block;
	float: none;
	margin: 0 auto;
}
/* - Max in full view */
#fullViewMax{
	float: right;
	width: 184px;
	margin-left: 20px;
	margin-right: 0;
}
#upperViewMax{
	display: none;
	width: auto;
	max-width: 184px;
	margin: 0 auto;
	clear: both;
}
@media screen and (max-width: 500px){ /* Big mobile and bellow */
	#fullViewMax{
		display: none;
	}
	#upperViewMax{
		display: block;
	}
}

/* - About me */
#aboutMe{
	width: calc(80% - 204px); /* 80% - fullViewMax */
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
#aboutMe h2:before{
    height: 34%;
    width: 240%;
    background-color: rgba(109, 109, 136, 0.6); /* #6D6B88*/
    transform:
		skewY(2deg)
		translateX(-5%)
		translateY(-7%)
	;
}
.info{
	margin-bottom:20px;
}
@media screen and (max-width: 500px){ /* Big mobile and bellow */
	#aboutMe{
		width: calc(97.5% - 60px);
	}
}

/* - Career */
#career h2:before{
    height: 22%;
    width: 50%;
    background-color: rgba(123, 57, 57, 0.6); /* #7B3939*/
    transform:
		skewY(1deg)
		translateX(6%)
		translateY(2%)
	;
}
#career ul{
	float:left;
	width: 100%;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	line-height:22px;
	color: #272727;
}
#career ul li{
	padding-left: 23px;
}
#career ul li:before{
	display: inline-block;
	height: 22px;
	width: 23px;
	margin-left: -23px; /* This will emulate the functionality of the positioning of a bulletpoint. */
	font-size: 14px;
	line-height: inherit;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	text-align: center;	
}
#career ul li.skole:before {
	content: "\f19d";
}
#career ul li.arbejde:before {
	content: "\f0b1";
}

/* - Skills */
#skills{
	margin-bottom: 23px;
}
#skills h2:before{
    height: 35%;
    width: 95%;
    background-color: rgba(95, 107, 165, 0.6); /* #5F6BA5*/
    transform:
		skewY(-3deg)
		translateX(-1%)
		translateY(-2%)
	;
}

/* Custom classes END*/

/* Thank you for reeding my CSS. */